<header>
  <img src="/logo.png" alt="Arte y Masonería" style="max-width: 200px; margin-bottom: 1rem;" />
  <nav>
    <a href="#inicio">Inicio</a>
    <a href="#bases">Bases</a>
    <a href="#galeria">Galería</a>
    <a href="#inscripcion">Inscripción</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>


